@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("../font/NotoSerifKR-Medium.otf");
}

.Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('./intro_background.png');
  }

.subtitle {
  color: #ffffff;
  font-size: calc(36px);
  font-family: 'Noto Sans KR', sans-serif;
}

.title {
  margin-top: -48px;
  color: #ffffff;
  font-size: calc(160px);
  font-family: 'Noto Serif KR', sans-serif;
}

.signin_button {
  margin-top: 36px;
  color: #ffffff;
  font-family: 'Noto Sans KR';
  font-size: 40px;
  border: 4px solid #ffffff;
  border-radius: 10px;
  padding: 6px 40px 6px 40px;
}

.signup_button {
  color: #ffffff;
  font-family: 'Noto Sans KR';
  font-size: 30px;
  text-decoration: underline;
  margin-top: 32px;
}